@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .header-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url('/assets/noise.png') repeat,
      linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
    mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
  }
}
