---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';

import { getCollection } from 'astro:content';
const projects = await getCollection('projects', ({ data }) => !data.draft);
---

<Layout title='jonathan cheng'>
  <Header client:idle />
  <!-- <ul>
    {
      projects.map((project) => (
        <li>
          <a href={`/projects/${project.slug}`}>{project.data.title}</a>
        </li>
      ))
    }
  </ul> -->
</Layout>
