---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<article class="prose prose-xl">
  <h1>{project.data.title} (this is from the getCollection function?)</h1>
  <Content />
</article>
