---
import Project from "../../layouts/Project.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects", ({ data }) => !data.draft);
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
const { title, githubUrl, deployUrl } = project.data;
---

<Project title={`${title} | jonathan cheng`}>
  <main>
    <Content />
    <button class="rounded-xl bg-emerald-400 p-3">{githubUrl}</button>

    {
      deployUrl ? (
        <button class="rounded-xl bg-amber-300 p-3">{deployUrl}</button>
      ) : (
        <button disabled="disabled" class="rounded-xl bg-gray-300 p-3">
          No Live Link
        </button>
      )
    }
  </main>
</Project>
